body{
    margin: 0 auto;
}
header{
    padding-top: 100px;
    height: 400px;
}
.half-width{
    width: 40%;
    float: left;
    padding-left: 2%;
    margin-left: 5%;
}
.half-width img{
    width: 90%;
}
span{
    color: #9400D3;
}
h1{
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
p{
    font-weight: 16px;
}
#slide{
    border-left: 5px solid;
    height: 80%;
    border-image: linear-gradient(160deg, green, yellow);
    border-image-slice: 1;
}
.button{
    border-radius: 5px;
    background-color: #4681f4;
    font-size: 16px;
    padding: 10px;
    margin: 5px;
}
.button a{
    text-decoration: none;
    color: white;
}
.button:hover{
    background-color: black;
    padding: 12px;
    margin: 7px;
    font-size: 18px;
    border-radius: 7px;
}
small{
    display: block;
    padding: 18px;
}
#title{
    text-align: center;
    font-size: 40px;
    padding-top: 40px;
    padding-bottom: 30px;
}
.mid-container{
    width: 100%;
}
.box-info-1{
    width: 25%;
    float: left;
    display: inline;
    margin-left: 5%;
    padding-left: 2%;
    box-shadow: 10px 10px 40px gray;
    border-radius: 10px;
    background-color: bisque;
    height: 100%;
}
.box-info-2{
    width: 25%;
    float: left;
    display: inline;
    margin-left: 3%;
    padding-left: 2%;
    box-shadow: 10px 10px 40px tan;
    border-radius: 10px;
    background-color: burlywood;
    height: 100%;
}
.box-info-3{
    width: 25%;
    float: left;
    display: inline;
    margin-left: 3%;
    padding-left: 2%;
    box-shadow: 10px 10px 40px thistle;
    border-radius: 10px;
    background-color: darksalmon;
    height: 100%;
}

.icon{
    width: 30%;
}
section{
    padding-top: 50px;  
    padding-bottom: 350px;    
}
.third-develop{
    background-image: url(images/pictures/dream-bg.png);
    background-repeat: no-repeat;
    padding-bottom: 30%;
    background-position: left bottom;
}